/*https://flatuicolors.com/palette/in*/
body{
    background-color: #d8ad6a !important;
    
}

nav{
    background-color: #925800;
}

label {
    color: #ffffff;
}

h1 {
    color: blueviolet;
}

footer {
    color: white;
}
